# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'settings-default.cfg' or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Camera]
preview if stand still = true
field of view = 80
viewing distance = 65536

[GUI]
stretch menu background = true
color topic enable = true
scaling factor = 2.0
subtitles = true
menu transparency = 0.839284

[Game]
turn to movement direction = true
use additional anim sources = true
weapon sheathing = true
shield sheathing = true
swim upward correction = true
smooth movement = true
NPCs avoid collisions = true
rebalance soul gem values = true
strength influences hand to hand = 1
uncapped damage fatigue = true
use magic item animations = true
best attack = true
always allow stealing from knocked out actors = true
barter disposition change is permanent = true

[Groundcover]
enabled = true

[Input]
toggle sneak = true
always run = true

[Saves]
max quicksaves = 3
timeplayed = true
character = Kosta

[Shadows]
actor shadows = true
enable shadows = true
object shadows = true
player shadows = true
terrain shadows = true

[Terrain]
distant terrain = true
object paging active grid = true
object paging min size = 0.023

[Video]
antialiasing = 16
fullscreen = true
resolution x = 3840
resolution y = 2160
vsync = false
framerate limit = 0
window mode = 0
gamma = 1.13192

[Fog]
sky blending start = 0.8

[Shaders]
antialias alpha test = true
apply lighting to environment maps = true
force shaders = true
clamp lighting = false
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
radial fog = true
lighting method = shaders
maximum light distance = 16384
max lights = 64

[Post Processing]
enabled = true

[Map]
global = true
